@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

a:link, a:visited{
    text-decoration: none;
}
             
a:hover, a:active {
    text-decoration: underline;
}

a { color: inherit; } 

body{
    display: flex;
    margin: 0px;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.header {
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: center;
    background-color:black;
    flex-direction: column;
}

h1 {
    text-align:left; 
    color:rgb(87, 87, 87); 
    font-size: 80px; 
    font-family: 'Oswald', sans-serif;
    height: 300px;
    margin:0;
    margin-top: 10px;
    margin-left: 30px;
}

.middle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-image: url("images/Background.png");
    justify-content: space-around;
    align-items: center;
    min-height: 90%;
}

.cards{
    font-size: 40px; 
    font-family: 'Oswald', sans-serif;
    color: rgb(202, 163, 159);
    text-align: center;
}

.build{
    background: transparent;
    width: 30%;
    padding: 2rem;
}

.pics{
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.disc{
    color:rgb(87, 87, 87); 
    font-size: 30px; 
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    padding-left: 50px;
}

h2 {
    text-align:left; 
    color:rgb(87, 87, 87); 
    font-size: 60px; 
    font-family: 'Oswald', sans-serif;
    height: 100px;
    margin:0;
    margin-top: 10px;
    margin-left: 30px;
}
.pros_cons{
    background-image: url("images/Background.png");
}

.discall{
    min-height: 100vh;
    background-image: url("images/Background.png");
}

.home{
    height: 135px;
    width: 200px;
    color: wheat;
    font-size: 60px; 
    background: transparent;
    position: absolute;
    top: 35px;
    right: 10px;
}

.up{
    height: 70px;
    width: 70px;
    background: transparent;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.arrow{
    width: 100%;
    object-fit: cover;
}