@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body {
    display: flex;
    margin: 0px;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    height: 30%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color:black;
    flex-direction: column;
}

h1 {
    text-align:center; color:rgb(87, 87, 87); font-size: 80px; font-family: 'Oswald', sans-serif;
    height: 300px;
    margin:0;
}

.middle {
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url("images/Background.png");
    /* background-color: darkgray; */
    justify-content: space-evenly;
    align-items: center;
}

.buttons {
    font-size: 40px; 
    font-family: 'Oswald', sans-serif;
    color: rgb(202, 163, 159);
}

/* .complicated{
    width: 1000px;
    height: 1000px;
    background: tomato;
    position: absolute;
    padding: 20px;
    left: 50%;
    margin-left: -510px;
    top: 50%;
    margin-top: -400px;
    z-index: -1;
}

.ptree{
    width: 100%;
    object-fit: cover;
} */

.banner0{
    width: 25%;
}

.banner1{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 25px;
}

.bap{
    position: absolute;
    left: 20%;
}

.pfb{
    position: absolute;
    right: 20%;
}

.footer {
    display: flex;
    background: black;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    text-align:center; color:rgb(87, 87, 87); font-size: 25px; font-family: 'Oswald', sans-serif;
    justify-content: space-around;
}

a:link, a:visited{
    text-decoration: none;
}
             
a:hover, a:active {
    text-decoration: underline;
}

a { color: inherit; } 